mlruns
.mypy_cache
yolov*.pt
yolo*.pt
__pycache__
runs
data/02_models/yolo*/random_hyperparameter_search_*
data/02_models/yolo*/wildfire_bench_*
data/03_reporting/yolo*/

**.DS_Store
**/_data.yaml

# pyro-engine model cache
data/ncnn_cpu_yolo11s_mighty-mongoose_v5.1.0.tar.gz
data/ncnn_cpu_yolo11s_mighty-mongoose_v5.1.0/
data/._ncnn_cpu_yolo11s_mighty-mongoose_v5.1.0
data/01_model_input/sequential_train_val/